---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { LinkCard , CardGrid } from '@astrojs/starlight/components';
const res = await fetch(`${import.meta.env.WORDPRESS_BASE_URL}/wp-json/wp/v2/posts`);
const posts = await res.json();
---
<StarlightPage 
  frontmatter={{
    title: 'Documentation', 
    template: 'splash',
    pagination: false
  }}
>
  <section>
    <CardGrid>
      {
        posts.map((post) => (
          <LinkCard 
            title={post.title.rendered} 
            href={`/docs/${post.slug}/`} 
            description={post.content.rendered} 
          />
        ))
      }
    </CardGrid>
  </section>
</StarlightPage>