---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { LinkCard , CardGrid } from '@astrojs/starlight/components';
---
<StarlightPage 
  frontmatter={{
    title: 'Documentation', 
    template: 'splash',
    pagination: false
  }}
>
  <section>
    <CardGrid>
      <LinkCard 
        title='Docs' 
        href={`/docs/`}
      />
    </CardGrid>
  </section>
</StarlightPage>