---
import { Icon } from '@astrojs/starlight/components';
import type { Props } from '@astrojs/starlight/props';

const { editUrl } = Astro.props;
---

{
	editUrl && (
		<a href={editUrl} class="sl-flex" target="_blank">
			<Icon name="pencil" size="1.2em" />
			Edit
		</a>
	)
}

<style>
	a {
		gap: 0.5rem;
		align-items: center;
		text-decoration: none;
		color: var(--sl-color-gray-3);
	}
	a:hover {
		color: var(--sl-color-white);
	}
</style>